<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Booking Confirmation</title>
</head>
<body>
<h1>Booking Confirmation</h1>

<div>
  <!-- Show who the reservation is for -->
  <h2>Reservation for: <span th:text="${reservation.customer.user.firstName} + ' ' + ${reservation.customer.user.lastName}"></span></h2>
  <p>Email: <span th:text="${reservation.customer.user.email}"></span></p>

  <h2>Flight Details</h2>
  <!-- Loop through the list of flights in the reservation -->
  <div th:each="flight : ${reservation.flights}">
    <p>Flight Number: <span th:text="${flight.flightNumber}"></span></p>
    <p>Departure: <span th:text="${flight.departureAirportCode}"></span></p>
    <p>Arrival: <span th:text="${flight.arrivalAirportCode}"></span></p>
  </div>

  <!-- Display return flight details if available -->
  <div th:if="${returnFlight != null}">
    <h2>Return Flight Details</h2>
    <p>Flight Number: <span th:text="${returnFlight.flightNumber}"></span></p>
    <p>Departure: <span th:text="${returnFlight.departureAirportCode}"></span></p>
    <p>Arrival: <span th:text="${returnFlight.arrivalAirportCode}"></span></p>
  </div>

  <h2>DashPass</h2>
  <div th:if="${not #lists.isEmpty(reservation.dashPassReservations)}">
    <h2>DashPass Reservations:</h2>
    <ul>
      <li th:each="dashPassReservation : ${reservation.dashPassReservations}">
        DashPass: <span th:text="${dashPassReservation.detail}"></span>
      </li>
    </ul>
  </div>

  <h2>Total Price</h2>
  <p>$<span th:text="${reservation.totalPrice}"></span></p>

  <a th:href="@{customer/{customerID}/customerdashboard}">Return to Dashboard</a>
</div>
</body>
</html>

