<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Dashboard</title>
    <meta name="description" content="Southwest Airlines Customer Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/customerDashboardCentered.css">
</head>
<body>
<div class="container">
    <header>
        <nav>
            <a href="login.html">Logout</a>
        </nav>
    </header>
    <img class="logo" src="./Southwest-Airlines-Logo-2014-present.jpg" alt="Southwest Airlines Logo">
    <h1>Welcome To The Dash Pass System, Customer!</h1>
    <h2>You have used X Dash Passes total.</h2>
    <button>View Previous Dash Trips</button>
    <h2>You currently have X Dash Passes.</h2>
    <h3>What would you like to do?</h3>
    <div class="button-container">
        <button>Redeem Dash Pass</button>
        <button>Purchase Dash Pass</button>
    </div>
</div>
<footer>For educational purposes only. All Trademarks are the property of their respective owners</footer>
</body>
</html>