<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sign Up</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="signup.css">
</head>
<body>
<header>
  <nav class="navbar">
    <img class="logo" src="./Southwest-Airlines-Logo-2014-present.jpg" alt="SouthWest Logo" />
    <ul>
      <li><a href="../landingPage/landingPage.html">Home</a></li>
      <li><a href="../signup/signup.html">Sign Up</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <div class="signup-box">
    <h1>Signup for Southwest Airlines Dash Pass</h1>
    <form>
      <label>First Name:</label><br />
      <input type="text" name="firstName" required><br />
      <label>Last Name:</label><br />
      <input type="text" name="lastName" required><br />
      <label>Username:</label><br />
      <input type="text" name="username" required><br />
      <label>Email:</label><br />
      <input type="email" name="email" required><br />
      <label>Password:</label><br />
      <input type="password" name="password" required><br /><br />
      <div class="radio">
        <label>Customer</label>
        <input type="radio" name="userType" value="customer" required>
        <label>Employee</label>
        <input type="radio" name="userType" value="employee" required>
      </div>
      <input class="button" type="submit" value="Sign Up">
    </form>
    <div>
    </div>
  </div>
</div>
    <script src="" async defer></script>
</body>

</html>