/* customerDashboardCentered.css */

body {
            background-color: #00338D; /* Southwest Blue */
            color: #ffffff;
            font-family: Arial;
        }
        .navbar {
            padding: 10px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar, footer {
            background-color: #FFC72C;
            color: #ffffff;
            padding: 10px;
            border-radius: 5px;
        }
        .container {
            background-color: #f4f4f4;
            padding: 20px;
            margin: 0 auto; /* Center the container */
            border-radius: 10px;
            max-width: 800px;
        }
        .button, .btn {
            background-color: #FFC72C; /* Southwest Yellow */
            color: #00338D;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .button:hover, .btn:hover {
            background-color: #FFD56E; /* Lighter yellow for hover */
        }

        .dashboard-card, .upcoming-reservation, .past-reservations, .past-dashpass-reservations, .actions {
            margin-bottom: 20px;
            padding: 15px;
            background-color: #ffffff;
            color: #00338D;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .error-message {
            color: #E4002B; /* Southwest Red */
            font-weight: bold;
        }
        footer {
            margin-top: 20px; /* Space between container and footer */
            padding: 10px;
            text-align: center;
            font-size: 0.8em;
            color: #ffffff;
        }

        .navbar-link {
            text-decoration: none;
            color: #00338D;
            font-weight: bold;
            margin-right: 15px;
        }
        .navbar-link:hover {
            text-decoration: underline;
        }
        .navbar-right {
            display: flex;
            align-items: center;
            gap: 15px; /* Space between links and Logout button */
        }

        .navbar-left img {
            height: 40px;
        }

/* Media query for smaller screens */
@media (max-width: 600px) {
  .button {
    width: 100%;
    margin: 5px 0;
  }
}
