* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(0, 51, 153);
  background-color: #0a030300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: #0056b3;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: rgb(255, 204, 0);
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 51, 153);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
  background-color: #004494;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.logo {
  height: 100px;
  width: 150px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color:rgb(0, 51, 153);
  text-decoration: none;
  padding: 8px 16px;
}

.nav-links li a:hover {
  background-color: #1d3b74;
  border-radius: 4px;
}

/* Hide the hamburger menu on larger screens */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

.login-container {
  background-color: white;
  padding: 30px; /* Increase padding for more space inside */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increase the width */
  margin: 50px auto; /* Center it horizontally */
  bottom: 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 60px;
    flex-direction: column;
    background-color: aliceblue;
    width: 400px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .nav-links.active {
    height: 200px; /* Adjust this based on the number of menu items */
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}